body {
	padding: 10px;
	text-align: center;
}

div[id*=box] {
	display: inline-block;
	margin: 10px;
	width: 200px;
	border: 1px solid #000;
	min-height: 100px;
	text-align: center;
	vertical-align: top;
	opacity: .7;
}

header {
  display: block;
  border-bottom: 1px solid #000;
}

div.highlighted {
	background-color: green;
}

header.special-header {
	background-color: red;
}

div.important {
	opacity: 1;
}
